

body {
   background-image: url("../img/soil.jpg");
   color: white;
}
a{
	text-decoration: none;
}



.logo {
    width: 400px;
    background-color: transparent;
}


}
.navbar ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    width: 200px;

}

.navbar li {
    float: left;
    list-style-type: none;
     margin: 10px,10px;
}

.navbar li a {
    display: block;
    font-size: 35px;
    color: #F5F2B8;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;


}
li a:hover {
    background-color: #3D2909;
    color: white;
    border-radius: 8px;
}
.dropdown-menu{
  background-color: #3D2909;
  border-radius: 10px;
}
.dropdpwn-menu :hover {
    background-color: #3D2909;
    color: white;
    border-radius: 8px;}
h1 {
    color: #F5F2B8;
    text-align: center;
}

p {
    font-family: tahoma, Arial;
    font-size: 20px;
}

footer {
  margin-left: 0;
  bottom: 0;
  padding-top: 10px;
  width: 100%;

  text-decoration: none;
  color: #F5F2B8; 
  background-image: url("../img/gravel.jpg");
  background-repeat:no-repeat;
  background-size: 100%;
  position: absolute;
  float: left;
  border-top: 2px groove white;
}


.form-inline{
  text-align: center;
}
.slider{
  width: 90%;
  padding-left: 8%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.dumptruckh3{
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 3%;
}
.dumptruckimg{
width: 65%;
margin-bottom: 25px;
margin-left:3%;
}
.dumptruckh4{
  margin-bottom: 120px;
  margin-left: 3%;
}
.soilimg{
  width: 25%;
  border:8px groove #427034;
margin-left: 5px;
margin-right: 5px;

}


.pop{
  width: 80%;
  margin: 10%;
}

.modal-title {
  color: white;
}
.modal-body p{
  color: white;
}

.popupbutton{
  text-decoration: :none;
  color: white;
}
.modal-content{
  background-color: #111111;
}


.soilimgdiv1{
  width: 98%;
  margin:5px 5px 5px 20px;
  display: inline-block;
}
.soilimgdiv{
  width: 98%;
  margin: 100px 5px 100px; 
}


.name{
  display: inline-block;
}
.contactform{
  text-align: center;
  width: 50%;
  margin-top: 10px;
  z-index: 3;

}
.form-inline{
  width: 80%;
  height: 450px;
/*background-image:url("../img/company.jpg");*/
 overflow: hidden;
  margin-top:20px;
  margin-left: 35px;
  z-index: 3;
  position: absolute;
  text-align: left;
}
.contactform{
  text-align: left;
}

.testmoh2{
  margin-top: 70px;
  margin-bottom: 25px;
  margin-left: 4%;
  color: #F5F2B8;
}
.testmop{
  width: 70%;
  
margin-left: 4%;
font-size: 15px;
}
.testxie{
  font-style: italic;
  margin-bottom: 70px;
  margin-left: 8%;
  font-size: 15px;
  color: #FFFEE9;
}
.checkbox{
  display: inline-block;

}
.firstc{
  width: 13%;
  display: inline-block;
  margin:50px 10px 10px 5%;
 
}
.secondc{
  width: 13%;
  display: inline-block;
  margin:50px 10px 10px 5%;

}

.back{
  z-index: -1;
}
.backimg{
  z-index: -1;
  float: left;
  margin-bottom: 100px;
}
.cal{
  width: 75px;
  display: inline-block;
}
.thirdc{
  width: 80%;
  display: inline-block;
  margin-left: 6%
}
option {
  color: black;
}
footer{
font-size: 30px;
position: fixed;
bottom: 0;
margin-top: 100px;
z-index: 9;
}
footer a{
	color: white;
	
}
footer p{
	margin-left: 15px;
}
footer ul{
	list-style-type: none;
	
}
footer ul li{
	display: inline-block;
	margin-left: 10%;
}

/** 
 * Note: The icon images used here are
 * hotlink protected and will not work
 * outside of Codepen.
 *
 * You can get the icons to host yourself 
 * here: http://simpleicons.org/
 */
body {
  display: block;
  padding: 20px;
  font-family: sans-serif;
}

.social-icons {
  max-width: 980px;
  margin: 0 auto;
}

.icon {
  float: left;
  position: relative;
  width: 19%;
  height: 0;
  margin: 1% 0.5%;
  padding-bottom: 19%;
}
@media all and (min-width: 640px) {
  .icon {
    width: 9%;
    padding-bottom: 9%;
  }
}
.icon:last-of-type {
  margin-right: 0;
}
.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.icon a:hover {
  background-color: #222;
  background-size: 0%;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.icon:hover .icon__name {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.icon--facebook a {
  background-color: #3b5998;
  background-image: url("http://benhodgson.net/codepen/social/facebook-128.png");
}

.icon--twitter a {
  background-color: #00aced;
  background-image: url("http://benhodgson.net/codepen/social/twitter-128.png");
}

.icon--linkedin a {
  background-color: #007fb1;
  background-image: url("http://benhodgson.net/codepen/social/linkedin-128.png");
}

.icon--instagram a {
  background-color: #5c3d2e;
  background-image: url("http://benhodgson.net/codepen/social/instagram-128.png");
}

.icon--flickr a {
  background-color: #c9317d;
  background-image: url("http://benhodgson.net/codepen/social/flickr-128.png");
}

.icon--spotify a {
  background-color: #80b719;
  background-image: url("http://benhodgson.net/codepen/social/spotify-128.png");
}

.icon--soundcloud a {
  background-color: #f60;
  background-image: url("http://benhodgson.net/codepen/social/soundcloud-128.png");
}

.icon--lastfm a {
  background-color: #d51007;
  background-image: url("http://benhodgson.net/codepen/social/lastfm-128.png");
}

.icon--kickstarter a {
  background-color: #87c442;
  background-image: url("http://benhodgson.net/codepen/social/kickstarter-128.png");
}

.icon--github a {
  background-color: #4183c4;
  background-image: url("http://benhodgson.net/codepen/social/github-128.png");
}
